
<div class="topnav">

    
    <a href="/klussen">Klussenlijst</a>

    <a href="/klusmaken">Nieuwe Klus Maken</a>
    
    <!-- SWART deze pagina maken nog? -->
    <a href="#">Mijn account</a>

    <a href="/">Uitloggen</a>

</div>
