
<body>

    <!-- hier evt header -->

    <!-- <div class="header">
        <img src="/css/pic/001-unity.png" alt="logo" />
        <h1>JoNiFo</h1>
    </div> -->

    <div class="parallax">

        <div class="nav-bar">
            Gebruiker: <input type="username"  id="myInput">
            Wachtwoord: <input type="password"  id="myInput">

            <a href="/klussen">
                <button class="button" >aanmelden</button>
            </a>
            
        </div>

    <div class="nav-bar2">
        <a href="/inschrijven">
            <button class="button">inschrijven</button>
        </a>
    </div>
        


    <!-- parallax div sluit pas in footer.ejs -->
    