
<% layout('/layouts/public-boilerplate') -%>

        <!-- hieronder de body -->

        <div class="container">

            <div class="story">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, provident voluptatibus.
                    Minus esse saepe eveniet! Veritatis aperiam cumque dolorum pariatur itaque ut, perspiciatis similique!
                    Earum delectus consequatur cupiditate obcaecati sunt?
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, provident voluptatibus.
                    Minus esse saepe eveniet! Veritatis aperiam cumque dolorum pariatur itaque ut, perspiciatis similique!
                    Earum delectus consequatur cupiditate obcaecati sunt?
                </p>
            </div>

            <div class="story">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, provident voluptatibus.
                    Minus esse saepe eveniet! Veritatis aperiam cumque dolorum pariatur itaque ut, perspiciatis similique!
                    Earum delectus consequatur cupiditate obcaecati sunt?
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, provident voluptatibus.
                    Minus esse saepe eveniet! Veritatis aperiam cumque dolorum pariatur itaque ut, perspiciatis similique!
                    Earum delectus consequatur cupiditate obcaecati sunt?
                </p>
            </div>

            <div class="story">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, provident voluptatibus.
                    Minus esse saepe eveniet! Veritatis aperiam cumque dolorum pariatur itaque ut, perspiciatis similique!
                    Earum delectus consequatur cupiditate obcaecati sunt?
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, provident voluptatibus.
                    Minus esse saepe eveniet! Veritatis aperiam cumque dolorum pariatur itaque ut, perspiciatis similique!
                    Earum delectus consequatur cupiditate obcaecati sunt?
                </p>
            </div>

            <div class="story">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, provident voluptatibus.
                    Minus esse saepe eveniet! Veritatis aperiam cumque dolorum pariatur itaque ut, perspiciatis similique!
                    Earum delectus consequatur cupiditate obcaecati sunt?
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, provident voluptatibus.
                    Minus esse saepe eveniet! Veritatis aperiam cumque dolorum pariatur itaque ut, perspiciatis similique!
                    Earum delectus consequatur cupiditate obcaecati sunt?
                </p>
            </div>

        </div>